:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
  font-style: normal;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 1px solid tomato; */
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  color: var(--title-color);
}
/* ==========HEADER================= */
.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin-right: 93px;

  color: #2196f3;
}
.logo-black {
  color: #000000;
}
.logo-white {
  color: #ffffff;
}
.header-list {
  display: flex;
}
.header-list-item .current {
  color: var(--accent-color);
}
.header-list-item {
  position: relative;
}
.current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}
.header-list-item:not(:last-child) {
  margin-right: 50px;
}
.header-list-link {
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;

  color: var(--title-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-link:hover,
.header-list-link:focus {
  color: var(--accent-color);
}
.header-contacts-list {
  display: flex;
  align-items: center;
}
.header-contacts-link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;

  color: var(--text-color);
  fill: var(--text-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.header-contacts-mail {
  margin-right: 30px;
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
/* ==========END HEADER================= */

/* ==========HERO================= */
.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/studio/hero-bg.jpg);
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.center-box {
  width: 696px;
  margin: 0 auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;

  color: #ffffff;
}
.hero-button {
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: #ffffff;
  background: var(--accent-color);
  border: none;
  border-radius: 4px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.submit-btn:hover,
.hero-button:focus,
.submit-btn:focus {
  background-color: #188ce8;
}
/* ==========END HERO================= */

/* ==========OUR-FEATURES================= */
.our-features {
  padding: 94px 0 47px;
}
.our-features-list {
  display: flex;
  justify-content: space-between;
}
.our-features-item {
  width: 270px;
}
.our-features-item:not(:last-child) {
  margin-right: 30px;
}
.our-features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}
.our-features-icon .icon {
  width: 70px;
  height: 70px;
}
.our-features-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-color);
}
.our-features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: var(--text-color);
}
/* ==========END-FEATURES================= */

/* ==========WORK================= */
.work {
  padding: 47px 0 94px;
}
.work-list {
  display: flex;
  justify-content: space-between;
}
.work-list-item {
  width: 370px;
}
.work-list-item:not(:last-child) {
  margin-right: 30px;
}
.work-overlay {
  position: relative;
}
.work-title {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}
/* ==========END WORK================= */

/* ==========TEAM================= */
.team {
  padding: 94px 0;

  background: #f5f4fa;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-img {
  margin-bottom: 30px;
}
.team-list-item {
  padding-bottom: 30px;
  width: 270px;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

  color: var(--title-color);
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;

  color: var(--text-color);
}
.social {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 44px;
  margin: 0 auto;
}
.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  fill: #afb1b8;
  border-radius: 50%;

  transform: scale(1) rotate(0deg);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
  transform: scale(1.2) rotate(45deg);
  background-color: var(--accent-color);
  fill: #ffffff;
}
.social-button:not(:last-child) {
  margin-right: 10px;
}
.social-icon {
  width: 20px;
  height: 20px;
}
/* ==========END TEAM================= */
/* ==========CUSTOMERS================= */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers-list {
  display: flex;
  justify-content: space-between;
}
.customers-list-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transform: scale(1);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-item:not(:last-child) {
  margin-right: 30px;
}
.customers-list-link:hover,
.customers-list-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  transform: scale(1.2);
}
/* ==========END CUSTOMERS================= */

/* ==========FOOTER================= */
.footer {
  padding: 60px 0;
  background: #2f303a;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer-contacts {
  width: 231px;
  margin-right: 15px;
}
.footer-logo {
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin-bottom: 20px;

  color: #2196f3;
}
.footer-contacts-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts-mail,
.footer-contacts-phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts-mail:hover,
.footer-contacts-phone:hover,
.footer-contacts-mail:focus,
.footer-contacts-phone:focus {
  color: var(--accent-color);
}
.footer-social {
  width: 206px;
  padding-top: 12px;
  padding-bottom: 40px;
  margin-right: 15px;
}
.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}
.footer-social-list {
  display: flex;
}
.footer-social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transform: rotate(0deg) scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background: var(--accent-color);
  transform: rotate(45deg) scale(1.3);
}
.footer-social-item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-icon {
  width: 20px;
  height: 20px;
}
.footer-form {
  padding-top: 12px;
  max-width: 570px;
}
.footer-form-title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 570px;
}
.footer-form-input {
  display: inline-block;
  width: 358px;
  font-style: normal;
  font-family: var(--main-font);
  font-weight: 400;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  outline: transparent;
  background-color: transparent;
}
.footer-form-input:focus {
  border-color: #188ce8;
}
.footer-form-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-button {
  display: inline-flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: none;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #188ce8;
}

.footer-form-icon {
  margin-left: 10px;
}

/* ==========END FOOTER================= */

/* =============MODAL-WINDOW =============*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: visible;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    visibility 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal-content {
  transform: translate(0px, -100%) perspective(600px) rotateY(180deg);
  opacity: 0;
}
.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 20px 10px;
}
.modal-content {
  position: relative;
  max-width: 528px;
  min-height: 581px;
  padding: 40px;
  opacity: 1;

  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(0px, 0px) perspective(600px) rotateY(0deg);
  transition: 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #ffffff;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover {
  fill: var(--accent-color);
}
.close-icon {
  width: 18px;
  height: 18px;
}
/* ==========MODAL-FORM============== */

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;

  color: var(--text-color);
}
.form-input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  margin-top: 4px;
  font-family: var(--main-font);
  font-weight: 400;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border: 1px solid var(--accent-color);
}
.form-input:focus + .form-input-icon {
  fill: var(--accent-color);
}
.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.form-input-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;

  outline: transparent;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment:focus {
  border-color: var(--accent-color);
}
.checkbox-wrapper {
  margin: 0 auto;
  margin-bottom: 30px;
}
.form-checkbox-label {
  display: inline-flex;
  align-items: center;
}
.checkbox-input {
  position: absolute;
  widows: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form-checkbox-label::before {
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 8px;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  transition : 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .form-checkbox-label::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}
.form-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: var(--text-color);
}
.contract {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: var(--title-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contract:hover,
.contract:focus {
  color: var(--accent-color);
}
.submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  min-width: 200px;
  min-height: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: #ffffff;
  background: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* ==========END-MODAL-FORM============== */
/* =============END-MODAL-WINDOW =============*/

/* ============PORTFOLIO.HTML================= */
/* ==========FILTER================= */
.our-project {
  padding: 94px 0;
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list-item:not(:last-child) {
  margin-right: 8px;
}
.filter-list-button {
  padding: 6px 22px;
  min-width: 73px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;

  background: #f5f4fa;
  border: none;
  border-radius: 4px;

  color: var(--title-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list-button:hover,
.filter-list-button:active {
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* ==========END FILTER================= */

/* ==========PORTFOLIO================= */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio-list-item {
  box-sizing: border-box;
  justify-content: center;
  width: 370px;
  margin: 15px;

  background: #ffffff;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-overlay {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;

  color: #ffffff;
  overflow: hidden;
}
.card-description {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-link:hover .card-description,
.portfolio-list-link:focus .card-description {
  transform: translatey(0);
  overflow-y: auto;
}
.portfolio-card-box {
  width: 370px;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-color);
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.876;
  letter-spacing: 0.03em;

  color: var(--text-color);
}
/* ==========END PORTFOLIO================= */
